@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    background-image: url(bg.avif);
    background-repeat: no-repeat;
    background-size: auto;
}

form {
    width: 300px;
    border: 15px solid transparent;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.ty {
    text-align: center;
}